<html>
<header>
<nav class="navbar navbar-expand-lg  bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><p class="text-capitalize">SHOPPing.com</p></a>
    <img src="assets/sh1.png" alt="Logo" width="30" height="24" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-white " href="#">About Us</a>
        </li>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white mx-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search-by-Category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Electronics</a></li>
            <li><a class="dropdown-item" href="#">Fashion</a></li>
            <li><a class="dropdown-item" href="#">Phones</a></li>
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="#">Home & Kitchen</a></li>
            <li><a class="dropdown-item" href="#">Computers</a></li>
            <li><a class="dropdown-item" href="#">Toys & Games</a></li>
            <li><a class="dropdown-item" href="#">Beauty</a></li>
          </ul>
        </li>
        
        
      <form class="d-flex " role="search">
        <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning " type="submit">Search</button>
      </form>
    </ul>
      <button class="btn btn-primary " type="submit" routerLink="/login">Cart</button>
      <img src="assets/img2.jpg" alt="Logo" width="35" height="35" >
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger mx-2" routerLink="/homepage" type="submit">Log out</button>
      <button class="btn btn-warning mx-2"  type="submit">My Account</button>
    
    </div>
  </div>
</nav>
</header>

<body>

  <div class="col-md-3">
    <div class="card" style="width: 20rem; height:35rem;">
        <div class="img">
        <img src="assets/man.png" class="card-img-top" alt="...">
       </div>
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">Welcome User: Your Profile:</h5>
          <p class="card-text">
            <li> <span>User Id:</span>{{userDetails.UserId}}</li>
            <li><span>First Name :</span> {{userDetails.FirstName}}</li>
            <li><span>Last Name :</span>: {{userDetails.LastName}}</li>
            <li><p><span>Country :</span> India</p></li>                           
          </p> 
        </div>
    </div>
    </div> 
  </div>
  <div class="col-md-3">
    <!-- <ng-container *ngFor="let products of products async let i = index"> -->
    <div class="card" style="width: 20rem; height:35rem;">
        <!-- <div class="img">
        <img src="{{products.productImage}}" class="card-img-top" alt="...">
       </div> -->
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">About Product</h5>
          <p class="card-text">
            <!-- <li> {{products.productName|uppercase}}</li>
            <li>{{products.price|currency:'INR':'symbol-narrow'}}</li>
            <li>{{products.description}}</li>
            <li>{{products.category}}</li>                            -->
          </p>
            <div>
              <button class="btn btn-primary mx-2 my-2">Go to Site</button> 
            </div>
        </div>
    </div>
    </div> 
  <!-- </ng-container>                      -->
</div>
</body>
        
<footer class="">
</footer>
</html> 


