<html>
<header>
<nav class="navbar navbar-expand-lg  bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><p class="text-capitalize">SHOPPing.com</p></a>
    <img src="assets/sh1.png" alt="Logo" width="30" height="24" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" routeLink="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="#">About Us</a>
        </li>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white mx-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search-by-Category
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item" >Electronics</li>
            <li class="dropdown-item" >Fashion</li>
            <li class="dropdown-item" >Phones</li>
            <li class="dropdown-item" >Books</li>
            <li class="dropdown-item" >Home & Kitchen</li>
            <li class="dropdown-item" >Computers</li>
            <li class="dropdown-item" >Toys & Games</li>
            <li class="dropdown-item" >Beauty</li>
          </ul>
        </li>        
      <form class="d-flex " role="search">
        <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning " type="submit">Search</button>
      </form>
    </ul>     
      <button class="btn btn-danger mx-2" routerLink="/homepage" type="submit" >Log out</button>
      <button class="btn btn-warning mx-2"  type="submit" routerLink="/adminprofile" >My Account</button>
    
    </div>
  </div>
</nav>
</header>
<div class="body1"></div>
<br><br><br><br>
<body>
  <div class="adminclass">
    <div class="card" style="width: 25rem; height:38rem;">
        <div class="img">
        <img src="assets/man.png" class="card-img-top" alt="...">
       </div>
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">Welcome Admin: Your Profile:</h5>
          <p class="card-text">
            <li> <span>User Id:</span>{{id}}</li> 
            <li><span>Email :</span> {{email}}</li>
            <li><span>First Name :</span> {{fname}}</li>
            <li><span>Last Name :</span> {{lname}}</li>
            <li><span>Mobile Number :</span> {{phone}}</li>
            <li><span>Address :</span> {{address}}</li>
            <li><span>City :</span> {{city}}</li>
            <li><span>State :</span> {{state}}</li>
            <li><span>Country :</span> India</li>
            <li><span>User Created on :</span> {{createdate}}</li>  
            <!-- <button class="btn btn-warning mt-4 my-2"  type="submit">Edit</button>                          -->

          </p> 
        </div>
    </div>
    </div> 
  </div>
<br><br><br>
  <!-- <div class="col-md-3">
    <ng-container *ngFor="let user of users async let i = index">

    <div class="card" style="width: 25rem; height:44rem;">
        <div class="img">
        <img src="assets/man.png" class="card-img-top" alt="...">
       </div>
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">{{user.role}}</h5>
          <p class="card-text">
            <li> <span>User Id:</span>{{user.userId}}</li> 
            <li><span>Email :</span> {{user.emailId}}</li>
            <li><span>First Name :</span> {{user.firstName}}</li>
            <li><span>Last Name :</span> {{user.lastName}}</li>
            <li><span>Mobile Number :</span> {{user.mobileNumber}}</li>
            <li><span>Address :</span> {{user.addressInfo}}</li>
            <li><span>City :</span> {{user.city}}</li>
            <li><span>State :</span> {{user.state}}</li>
            <li><span>Country :</span> India</li>
            <li><span>User Created on :</span> {{user.createdDate}}</li>  
            <button class="btn btn-warning mt-4 my-2"  type="submit">Edit</button>                         
          </p> 
        </div>
    </div>
    </div>
    </ng-container> 
  </div> -->
  <div class="userclass2">
     <h1>All UserDetails</h1>
  </div>

  <table class="table table-dark" >
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Pincode</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users async let i = index">
        <td>{{user.userId}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.firstName}}</td>        
        <td>{{user.lastName}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>{{user.addressInfo}}</td>
        <td>{{user.city}}</td>
        <td>{{user.state}}</td>
        <td>{{user.pincode}}</td>
      </tr>
    </tbody>
  </table>
  
</body>
        
           
<br>
<footer>

Here are the Order Details..


</footer>
<br><br>
</html> 



