<html>
<header>
<nav class="navbar navbar-expand-lg  bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><p class="text-capitalize">SHOPPing.com</p></a>
    <img src="assets/sh1.png" alt="Logo" width="30" height="24" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" routeLink="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="#">About Us</a>
        </li>
        &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white mx-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search-by-Category
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Electronics</a></li>
            <li><a class="dropdown-item" href="#">Fashion</a></li>
            <li><a class="dropdown-item" href="#">Phones</a></li>
            <li><a class="dropdown-item" href="#">Books</a></li>
            <li><a class="dropdown-item" href="#">Home & Kitchen</a></li>
            <li><a class="dropdown-item" href="#">Computers</a></li>
            <li><a class="dropdown-item" href="#">Toys & Games</a></li>
            <li><a class="dropdown-item" href="#">Beauty</a></li>
          </ul>
        </li>        
      <form class="d-flex " role="search">
        <input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning " type="submit">Search</button>
      </form>
    </ul>     
      <button class="btn btn-danger mx-2" routerLink="/homepage" type="submit" >Log out</button>
      <button class="btn btn-warning mx-2"  type="submit" routerLink="/adminprofile" >My Account</button>
    
    </div>
  </div>
</nav>
</header>

<body>

  
</body>
        
           

<footer class="">
</footer>
</html> 



