<header>

</header>
<body>

<div class="Helloclass">
<div class="col-md-3">
    <div class="card" style="width: 25rem; height:44rem;">
        <div class="img">
        <img src="assets/man.png" class="card-img-top" alt="...">
       </div>
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">Welcome User: Your Profile:</h5>
          <p class="card-text">
            <li> <span>User Id:</span>{{id}}</li> 
            <li><span>Email :</span> {{email}}</li>
            <li><span>First Name :</span> {{fname}}</li>
            <li><span>Last Name :</span> {{lname}}</li>
            <li><span>Mobile Number :</span> {{phone}}</li>
            <li><span>Address :</span> {{address}}</li>
            <li><span>City :</span> {{city}}</li>
            <li><span>State :</span> {{state}}</li>
            <li><span>Country :</span> India</li>
            <li><span>User Created on :</span> {{createdate}}</li>  
            <button class="btn btn-warning mt-4 my-2"  type="submit">Edit</button>                         

          </p> 
        </div>
    </div>
    </div> 
  </div>
</div>
</body>
<footer>
    
</footer>