<div class="col-md-3">
    <div class="card" style="width: 25rem; height:40rem;">
        <div class="img">
        <!-- <img src={{productImage}} class="card-img-top" alt="..."> -->
       </div>
       <div class="text">
        <div class="card-body">
          <h5 class="card-title">Welcome User: Your Profile:</h5>
          <p class="card-text">
            <!-- <li> <span>Product Id:</span>{{productId}}</li> 
            <li><span>Product Category</span> {{category}}</li>
            <li><span>Product Name :</span> {{productName}}</li>
            <li><span>Price :</span> {{price}}</li>
            <li><span>Description :</span> {{description}}</li>  -->
            <button class="btn btn-warning mt-4 my-2"  type="submit" >Add to Cart</button>                         
          </p> 
        </div>
    </div>
    </div> 
  </div>
